---
layout: default
---

<a href="/notes/"><bf>Back to notes</bf></a>

<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  <!-- Notes list -->
  <h2>My notes on {{ page.title }}</h2>
  <table class="w3-table w3-striped w3-bordered">
    <tr>
      <th>Topics</th>
      <th>Progress</th>
      <th>HTML</th>
      <th>PDF</th>
    </tr>
    {% for note in site.notes %}
      {% if note.category == page.title %}
        {% if note.title != page.title %}
        <tr>
          <th>{{ note.title }}</th>
          <th>
            {% if note.percentage %}
            <div class="w3-white w3-round-xlarge w3-tiny">
            <div class="w3-container w3-blue w3-round-xlarge" style="width:{{ note.percentage }}">{{ note.percentage }}</div>
            </div>
            {% endif %}
          </th>
          <th><div class="w3-center"><a href="{{ note.url }}"><i class="fa fa-link"></a></div></th>
          <th>
            {% if note.pdfname %}
            <div class="w3-center"><a href="{{ site.baseurl }}doc/notes/{{ note.category }}/{{ note.pdfname }}.pdf" target="_onclick">[pdf]</a></div>
            {% endif %}
          </th>
        </tr>
        {% endif %}
        {% endif %}
    {% endfor %}
  </table>

  {{ content }}

</div>
