---
layout: default
---

<div style="float:right"><a href="/notes/{{ page.category | replace: ' ', '-'  }}"><bf>Back to {{ page.category }}</bf></a></div>
<div><a href="/notes/"><bf>Back to notes</bf></a></div>


<div class="post">
  <h1 class="post-title">{{ page.title }}</h1>

  {% if page.percentage %}
  <div class="w3-white w3-round-xlarge w3-tiny">
    <div class="w3-container w3-blue w3-round-xlarge" style="width:{{ page.percentage }}">{{ page.percentage }}</div>
  </div>
  <br>
  {% endif %}

  {{ content }}

  {% if page.comments %}
  <div class="w3-padding-16" id="disqus_thread"></div>
  <script>
  var disqus_config = function () {
  this.page.url = "http://cnchou.github.io{{ page.url }}";
  this.page.identifier = "{{ page.url }}"
  };

  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://cnchou.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}

</div>
